<!-- Header 2 -->
<header id="header" class="header2 {{menu_pos}} header-no_background" role="banner" aria-label="{{ 'Site header'|t}}">
	{% if page.nav_branding or page.nav_main or page.nav_additional %}
		<div class="navbar navbar-expand-{{expand_menu}} {{nav_classes}} {{ navbar_attributes|replace({'fixed-top': ''})|raw }}">
			<div class="{{header_container}} d-flex">
				<div class="branding">{{ page.nav_branding }}</div>
				<!-- Offcanvas Menu -->
				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu">				
					<div class="offcanvas-header">								
						<img src="../{{theme_path}}/logo.svg" alt="logo" class="img-fluid d-inline-block align-top">
							{# <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> #}
							<a href="#" data-bs-dismiss="offcanvas" aria-label="Close">
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#fff" class="bi bi-x-circle" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
									<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
								</svg>
						</a>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>						
					</div>
					<div class="offcanvas-body {{ menu_pos }}">	 														
						{{ page.nav_main }}																									
					</div>				
				</div>
				<!-- Przycisk otwierający menu -->
				<button class="ms-auto navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
					<span class="navbar-toggler-icon"></span>					
				</button>
				<div class="d-flex justify-content-{{ align_header }}">{{ page.nav_additional }}</div>
			</div>
		</div>
	{% endif %}




</header>
